.footer{
    height: 80px;
    margin-top: auto;
    width: 550px;   
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    background-color:transparent;
}

.footer img{
    padding-top:10px;
    padding-right: 10px;
}